/* windows */

	/* The container for all windows */
	.windows {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 0 0;
		margin: 0 0;
	}



	/* Add some values to windows to make the useful for the desktop */
	.window {
		position: absolute;
		box-shadow: 1px 1px 4px var(--windows-shadow-color);
		border-top-left-radius: var(--windows-border-radius);
		border-top-right-radius: var(--windows-border-radius);
		border: 1px solid var(--windows-border-color1);
		display: flex;
		flex-direction: column;
	}

	/* Greout a window and disable interactions, e.g. when a dialog prevents interaction */
	.window-greyout * {
		filter: grayscale(100%);
		pointer-events: none;
	}

	/* borderless windows */
	.window-borderless {
		box-shadow: none;
		border-radius: 0;
		border: none;
	}
	.window-borderless .title-bar {
		display: none;
	}
	.window-borderless .window-body {
		border: none;
	}

	/* The container of the window body(it's content, without titlebars/borders )*/
	.window-body {
		border: var(--windows-border-size) outset var(--windows-border-color2);
		border-top: none;
		background-color: var(--windows-bg-color);
		color: var(--windows-fg-color);
		position: relative;
	}
	/* The titlebar of the window */
	.title-bar {
		display: flex;
		height: var(--windows-title-bar-height);
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid var(--windows-border-color1);
		border-top-left-radius: calc(var(--windows-border-radius) - 1px);
		border-top-right-radius: calc(var(--windows-border-radius) - 1px);
		color: var(--windows-title-bar-text-color);
		background-image: var(--windows-title-bar-background-image);
	}
	.title-bar-icon {
		color: var(--windows-title-bar-icon-color);
		padding-left: 8px;
	}
	.title-bar-text {
		padding-left: 4px;
		flex-grow: 1;
		font-weight: bold;
		letter-spacing: 0;
		font-size: 13px;
		font-family: sans-serif;
		text-shadow: 1px 1px var(--windows-title-bar-text-shadow-color);
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		margin-right: auto;
	}

	/* Container for the controls on the right */
	.title-bar-controls {
		padding-right: 3px;
		display: flex;
		align-items: center;
	}

	/* The actual titlebar controls */
	.title-bar-controls * {
		display: block;
		position: relative;
		margin: 0 0.5px;
		padding: 0 0;
		width: var(--windows-title-button-width);
		height: var(--windows-title-button-height);
		border-radius: var(--windows-title-button-radius);
		border: 1px solid var(--windows-title-button-border-color);
		color: var(--windows-title-icon-color);
		background-color: var(--windows-title-button-bg-color);
		box-shadow: var(--windows-title-button-box-shadow);
		background-image: var(--windows-title-button-bg-image);
	}
	.title-bar-controls *:hover {
		background-color: var(--windows-title-button-bg-color-hover);
	}
	.title-bar-controls *:active {
		background-image: var(--windows-title-button-bg-image-active);
	}

	/* Decolor the unfocused window */
	.window-unfocused .title-bar {
		background-image: var(--windows-title-bar-background-image-unfocused);
	}
	.window-unfocused .title-bar-controls * {
		background-color: var(--windows-title-button-bg-color-unfocused);
	}

	/* Add window icons to buttons */
	.title-bar-controls button[aria-label=Minimize]::after{
		content: "▁";
	}
	.title-bar-controls [aria-label=Maximize]::after {
		content: "🗖";
	}
	.title-bar-controls [aria-label=Restore]::after {
		content: "🗗";
	}
	.title-bar-controls [aria-label=Close]::after {
		content: "🞮";
	}

	/* Recolor close button */
	.window .title-bar-controls [aria-label=Close] {
		background-color: var(--windows-title-button-close-bg-color);
	}
	.window .title-bar-controls [aria-label=Close]:hover {
		background-color: var(--windows-title-button-close-bg-color-hover);
	}

	/* Make a window resizeable */
	.window-resizeable .window-body {
		resize: both;
		overflow: hidden;
	}

	/* Maximized window */
	.window-maximized .window-body {
		border: none;
	}
	.window-maximized .title-bar {
		border-radius: 0;
	}

	/* The container for the all window content, including menu bars and such */
	.window-content {
		position: relative;
		height: 100vh;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
	}

	/* The container for the actual window content, including menu bars and such */
	.window-inner {
		flex-grow: 1;
		overflow: auto;
		display: flex;
		flex-direction: column;
	}

	.window-body-iframe {
		width: 100%;
		height: 100%;
		border: none;
		box-sizing: border-box;
		position: absolute;
	}

/* /windows */
