/* windows */

	/* The container for all windows */
	.windows {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 0 0;
		margin: 0 0;
	}



	/* Add some values to windows to make the useful for the desktop */
	.window {
		position: absolute;
		min-width: 100px;
		min-height: 30px;
		box-shadow: 1px 1px 4px var(--windows-shadow-color);
		border-top-left-radius: var(--windows-border-radius);
		border-top-right-radius: var(--windows-border-radius);
		border: 1px solid var(--windows-border-color1);
		display: flex;
		flex-direction: column;
	}

	/* Support for simpler popup-windows */
	.popups {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 3000;
		background-color: rgba(0,0,0,0.5);
		display: flex;
	}
	.popups .window {
		z-index: 4000;
		top: 50px;
		left: calc( 50% - calc( var(--windows-popup-window-width) / 2 ) );
		width: var(--windows-popup-window-width);
		--windows-content-padding: 5px;
	}
	.popups .window-body {
		position: relative;
		top: 0;
	}
	.popups .window-content {
		height: auto;
	}

	/* The container of the window body(it's content, without titlebars/borders )*/
	.window-body {
		border: 2px outset var(--windows-border-color2);
		border-top: none;
		background-color: var(--windows-bg-color);
		color: var(--windows-fg-color);
		position: relative;
	}
	/* The titlebar of the window */
	.title-bar {
		display: flex;
		height: var(--windows-title-bar-height);
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid var(--windows-border-color1);
		border-top-left-radius: calc(var(--windows-border-radius) - 1px);
		border-top-right-radius: calc(var(--windows-border-radius) - 1px);
		color: var(--windows-title-bar-text-color);
		background-image: var(--windows-title-bar-background-image);
	}
	.title-bar-text {
		padding-left: 0.5em;
		font-weight: bold;
		letter-spacing: 0;
		font-size: 13px;
		font-family: sans-serif;
		text-shadow: 1px 1px #0f1089;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		min-width: 0;
	}

	/* Container for the controls on the right */
	.title-bar-controls {
		padding-right: 3px;
		display: flex;
		align-items: center;
	}

	/* The actual titlebar controls */
	.title-bar-controls * {
		display: block;
		position: relative;
		margin: 0 0.5px;
		padding: 0 0;
		width: 21px;
		height: 21px;
		border-radius: 3px;
		border: 1px solid #D3DAFF;
		color: #fff;
		background-color: #0050ee;
		box-shadow: 0px 0px 2px inset rgba(0,0,0,0.5);
		background-image: linear-gradient(
				/* Bottom */
				0deg,
				rgba(0,0,0,0.2),
				rgba(0,0,0,0.1) 16%,
				rgba(0,0,0,0) 24%
			),
			linear-gradient(
				/* Left */
				90deg,
				rgba(255,255,255,0.3),
				rgba(255,255,255,0.15) 8%,
				rgba(0,0,0,0) 16%
			),
			linear-gradient(
				/* Top */
				180deg,
				rgba(255,255,255,0.15) 8%,
				rgba(255,255,255,0) 16%
			),
			linear-gradient(
				/* Right */
				270deg,
				rgba(0,0,0,0.2),
				rgba(0,0,0,0.1) 16%,
				rgba(0,0,0,0) 24%
			),
			radial-gradient(
				/* highlight 1 */
				at 10% 10%,
				rgba(255,255,255,0.4),
				rgba(255,255,255,0.15),
				rgba(255,255,255,0)
			),
			radial-gradient(
				/* highlight 1 */
				at 12% 12%,
				rgba(255,255,255,0.3),
				rgba(255,255,255,0) 16%
			)
		;

	}
	.title-bar-controls *:hover {
		background-color: #1262FF;
	}
	.title-bar-controls *:active {
		background-image: linear-gradient(
				/* Bottom */
				0deg,
				rgba(255,255,255,0.2),
				rgba(255,255,255,0.1) 12%,
				rgba(255,255,255,0) 20%
			),
			linear-gradient(
				/* Left */
				90deg,
				rgba(0,0,0,0.3),
				rgba(0,0,0,0.15) 12%,
				rgba(0,0,0,0) 20%
			),
			linear-gradient(
				/* Top */
				180deg,
				rgba(0,0,0,0.15) 12%,
				rgba(0,0,0,0) 20%
			),
			linear-gradient(
				/* Right */
				270deg,
				rgba(255,255,255,0.2),
				rgba(255,255,255,0.1) 12%,
				rgba(255,255,255,0) 20%
			)
		;
	}

	/* Decolor the unfocused window */
	.window-unfocused .title-bar {
		background-image: var(--windows-title-bar-background-image-unfocused);
	}
	.window-unfocused .title-bar-controls * {
		background-color: #3070EE;
	}

	/* Add window icons to buttons */
	.title-bar-controls button[aria-label=Minimize]::after{
		content: "▁";
	}
	.title-bar-controls [aria-label=Maximize]::after {
		content: "🗖";
	}
	.title-bar-controls [aria-label=Restore]::after {
		content: "🗗";
	}
	.title-bar-controls [aria-label=Close]::after {
		content: "🞮";
	}

	/* Recolor close button */
	.window .title-bar-controls [aria-label=Close] {
		background-color: #ED3315;
	}
	.window .title-bar-controls [aria-label=Close]:hover {
		background-color: #FF4021;
	}

	/* Make a window resizeable */
	.window-resizeable .window-body {
		resize: both;
		overflow: hidden;
	}

	/* Maximized window */
	.window-maximized .window-body {
		border: none;
	}
	.window-maximized .title-bar {
		border-radius: 0;
	}

	/* The container for the actual window content, excluding menu bars and such */
	.window-content {
		padding: var(--windows-content-padding);
		height: 100vh;
		display: flex;
		flex-direction: column;
		padding-bottom:
			calc(
				var(--statusbar-height) + var(--windows-content-padding)
			)
		;
		box-sizing: border-box;
	}

	/* Support a menubar/statusbar for the window content */
	.menu-bar+.window-content {
		padding-top:
			calc(
				var(--menubar-height) + var(--windows-content-padding)
			)
		;
	}

	.window-body-iframe {
		width: 100%;
		height: 100%;
		border: none;
		box-sizing: border-box;
	}

/* /windows */
