/* input */

input {
	box-sizing: border-box;
	border: 1px solid #7f9db9;
	background-color: #fff;
	padding: 3px 4px;
	border-radius: 0;
	outline: none;
	width: 200px;
	height: 23px;
}
input[type=checkbox] {
	height: 12px;
	width: 12px;
}
input[type=radio] {
	height: 12px;
	width: 12px;
}
select {
	box-sizing: border-box;
	border: 1px solid #7f9db9;
	background-color: #fff;
	padding: 3px 4px;
	outline: none;
	width: 200px;
	height: 23px;
}
textarea {
	outline: none;
	resize: none;
}

.field-row {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* /input */
