/* status bar */

	.status-bar {
		box-sizing: border-box;
		margin: 0 0;
		padding: 0 0;
		display: flex;
		flex-wrap: wrap;
		border-top: 1px solid #888;
		background-color: #EEEAD6;
		justify-content: space-between;
	}

	.status-bar-field {
		height: calc(var(--statusbar-height) - 1px);
		padding: 1px 5px;
		margin: 0 0;
	}

/* /status bar */
