/* menubar */

	.menu-bar {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
	}

	.menu-container {
		position: relative;
	}

	.menu-row {
		border-bottom: 1px solid #888;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		width: 100%;
		background-color: var(--menubar-row-bg-color);
		color: var(--menubar-row-fg-color);
	}

	.menu-item {
		display: block;
		padding: 4px;
		margin: 1px 1px;
		height: 16px;
		line-height: 16px;
		text-decoration: none !important;
		color: var(--menubar-row-fg-color);
		cursor: pointer;
	}

	.menu-item input[type=checkbox],.menu-item input[type=radio] {
		margin: 0 0;
		width: 10px;
		height: 10px;
	}

	.menu-category {
		display: block;
		padding: 4px;
		margin: 0px;
		text-decoration: none !important;
	}
	.menu-category:hover {
		background-color: #46f;
		color: #eee;
	}

	.menu-spacer {
		height: 1px;
		background-color: #888;
		margin: 0 2px;
	}
	.menu-item:hover {
		background-color: #46f;
		color: #eee;
	}

	.menu-category:hover + .menu-sub {
		display: block;
	}
	.menu-category + .menu-sub:hover {
		display: block;
	}

	.menu-item:hover + .menu-sub {
		display: block;
	}
	.menu-item + .menu-sub:hover {
		display: block;
	}

	.menu-sub {
		position: absolute;
		top: calc(var(--menubar-row-height) - 2px);
		left: 0;
		width: var(--menubar-sub-width);
		border: 1px solid #888;
		box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
		background-color: var(--menubar-sub-bg-color);
		z-index: 1100;
		overflow: visible;
		max-height: calc(100vh - var(--menubar-height));
		overflow-y: auto;
	}

/* /menubar */
