/* desktop */

	body {
		background-color: var(--desktop-bg-color);
		background-image: var(--desktop-bg-image);
		user-select: none;
	}

	/* movable windows container */
	.windows {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: var(--taskbar-height);
		overflow: hidden;
	}

	.desktop {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		max-height: 100%;
		align-content: flex-start;
	}

	/* complete desktop icon link */
	.desktop-icon {
		text-decoration: none;
		text-align: center;
		font-family: sans-serif;
		cursor: pointer;
		padding: 4px;
		width: 100px;
		height: 75px;
	}
	.desktop-icon-icon {
		font-size: 32px;
		color: #000;
	}
	.desktop-icon-icon::after {
		content: "\a";
		white-space: pre;
	}
	.desktop-icon-text {
		color: #eee;
		text-shadow: 1px 1px rgba(0,0,0,0.3);
	}

	body {
		animation: fadeInBodyAnimation linear 0.5s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}

	@keyframes fadeInBodyAnimation {
		0% {
			opacity: 0;
			background-color: #000;
		}
		100% {
			opacity: 1;
		}
	}

/* /desktop */
