<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Run command dialog">
		<meta name="author" content="max1220">
		<title>ℹ System information</title>
		<link rel="stylesheet" href="/static/css/xp/style.css">
		<link rel="stylesheet" href="/static/css/xp/application.css">
		<style>
			pre {
				overflow: auto;
				height: 16.5em;
			}
			.first-line-underline::first-line {
				text-decoration: underline;
			}
			code {
				float: right;
			}
		</style>
	</head>
	<body>
		<div class="window-body-embedded">
			<section class="tabs">
				<menu role="tablist" aria-label="Sample Tabs">
					<button role="tab" aria-controls="tab-general" aria-selected="true">General</button>
					<button role="tab" aria-controls="tab-process">Processes</button>
					<button role="tab" aria-controls="tab-filesystem">Filesystems</button>
					<button role="tab" aria-controls="tab-interfaces">Interfaces</button>
					<button role="tab" aria-controls="tab-ports">Ports</button>
				</menu>
				<!-- the tab content -->
				<article role="tabpanel" id="tab-general">
					<h3>${USER}@${HOSTNAME}</h3>
					<p>
						Username: <code>${USER}</code>
					</p>
					<p>
						Hostname: <code>${HOSTNAME}</code>
					</p>
					<p>
						Kernel: <code>$(uname -s -r)</code>
					</p>
					<p>
						CPU: <code>${cpu_model}</code>
					</p>
					<p>
						Memory: <code>${mem_free_kb}/${mem_total_kb}</code>
					</p>
					<p>
						OS: <code><a href="${HOME_URL}">${PRETTY_NAME}</a></code>
					</p>
					<p>
						Uptime: <code>$(uptime -p)</code>
					</p>
					<p>
						Load: <code>1min: ${loadavg_1}, 5min: ${loadavg_5}, 15min: ${loadavg_15}</code>
					</p>
				</article>

				<article role="tabpanel" id="tab-process" hidden>
					<p>ps -aux:</p>
					<pre class="first-line-underline">$(ps aux)</pre>
				</article>

				<article role="tabpanel" id="tab-filesystem" hidden>
					<p>df -h:</p>
					<pre class="first-line-underline">$(df -h)</pre>
				</article>

				<article role="tabpanel" id="tab-interfaces" hidden>
					<p>ip a:</p>
					<pre>$(ip a)</pre>

				</article>

				<article role="tabpanel" id="tab-ports" hidden>
					<p>ss -lpt:</p>
					<pre class="first-line-underline">$(ss -lpt)</pre>
				</article>


			</section>
			<a href="about:blank#close" class="btn right" style="margin-right: 2px;">Close</a>
		</div>
		<script src="/static/js/xp/tabs.js"></script>
	</body>

<!--
These values are read outside of the iframe
to determine the prefered size of this window:
{{{window_width=600}}}
{{{window_height=364}}}
-->
</html>




