<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Command output">
		<meta name="author" content="max1220">
		<title>➔ Run Command - ${command_str}</title>
		<link rel="stylesheet" href="/static/css/xp/style.css">
		<link rel="stylesheet" href="/static/css/xp/application.css">
		<style>
			body {
				background-color: #000;
				color: #eee;
			}
			@font-face {
				font-family: 'perfect_dos_vga_437';
				src: url('/static/font/perfect_dos_vga_437.ttf');
			}
			pre {
				font-family: perfect_dos_vga_437, monospace;
				font-size: 16px;
			}
		</style>
	</head>
	<body>
		<div class="window-content">
			<pre>${command_output_html}</pre>
		</div>
	</body>
	<!--
These values are read outside of the iframe
to determine the prefered size of this window:
{{{window_width=640}}}
{{{window_height=480}}}
{{{window_resizeable}}}
-->
</html>




