/* vars */

	:root {
		--desktop-bg-color: #004E98;
		/* --desktop-bg-image: url("/static/bliss.png"); */

		--windows-popup-window-width: 300px;
		--windows-content-padding: 5px;
		--windows-shadow-color: #333333;
		--windows-border-radius: 8px;
		--windows-border-color1: #0831D9;
		--windows-border-color2: #166AEE;
		--windows-fg-color: #040400;
		--windows-bg-color: #ECE9D8;
		--windows-title-bar-height: 26px;
		--windows-title-bar-background-image:
			linear-gradient(
				180deg,
				#0997FF,
				#0053EE 8%,
				#0050EE 40%,
				#0066FF 88%,
				#0066FF 93%,
				#005BFF 95%,
				#005BFF 96%,
				#005BFF
			)
		;
		--windows-title-bar-background-image-unfocused:
			linear-gradient(
				180deg,
				#33A9FF,
				#3072EE 8%,
				#3070EE 40%,
				#3385FF 88%,
				#3385FF 93%,
				#337CFF 95%,
				#337CFF 96%,
				#337CFF
			)
		;
		--windows-title-bar-text-color: #fff;
		--statusbar-height: 19px;
		--menubar-height: 22px;
		--menubar-row-height: 22px;
		--menubar-sub-width: 150px;
		--menubar-row-bg-color: #EEEAD6;
		--menubar-row-fg-color: #111111;
		--menubar-sub-bg-color: #FAFAFAFA;
		--menubar-hover-fg-color: #EEEEEE;
		--menubar-hover-bg-color: #4466FF;
		--taskbar-height: 26px;

		--startmenu-width: 200px;
	}

/* /vars */
