/* vars */

	:root {
		--desktop-bg-color: #004E98;
		/* --desktop-bg-image: url("/static/bliss.png"); */

		--windows-shadow-color: #333;
		--windows-border-radius: 8px;
		--windows-border-color1: #0831d9;
		--windows-border-color2: #166aee;
		--windows-bg-color: #ece9d8;
		--windows-title-bar-height: 26px;
		--windows-title-bar-background-image:
			linear-gradient(
				180deg,
				#0997ff,
				#0053ee 8%,
				#0050ee 40%,
				#06f 88%,
				#06f 93%,
				#005bff 95%,
				#005bff 96%,
				#005bff
			)
		;
		--windows-title-bar-background-image-unfocused:
			linear-gradient(
				180deg,
				#33A9FF,
				#3072EE 8%,
				#3070EE 40%,
				#3385FF 88%,
				#3385FF 93%,
				#337CFF 95%,
				#337CFF 96%,
				#337CFF
			)
		;
		--windows-title-bar-text-color: #fff;
		--statusbar-height: 18px;
		--menubar-height: 22px;
		--taskbar-height: 26px;
	}

/* /vars */
