/* Utils */

	/* Hide the content */
	.hidden {
		display: none;
	}

	/* Make elements non-selectable*/
	.noselect {
		user-select: none;
	}

	/* text to ellipsis instead of wrapping or overflowing */
	.overflow-ellipsis {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	/* don't wrap text */
	.nowrap {
		white-space: nowrap;
	}

	.left {
		float: left;
	}

	.right {
		float: right;
	}

	.clear {
		clear: both;
	}

/* /Utils */
