/* desktop */

	body {
		background-color: var(--desktop-bg-color);
		background-image: var(--desktop-bg-image);
		user-select: none;

	}

	#windows {
		display: flex;
		flex-direction: column;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: var(--taskbar-height);
		overflow-x: hidden;
	}

	.desktop-icon {
		width: 48px;
		height: 48px;
		border-radius: 3px;
		font-size: 32px;
		background-image: radial-gradient(
			rgba(0,0,0,0.25),
			rgba(0,0,0,0) 75%
		);
		color: #000;
	}
	.desktop-link {
		margin: 1em;
		width: 3em;
		text-align: center;
		font-family: sans-serif;
		text-decoration: none;
		color: #eee;
		cursor: pointer;
		text-shadow: 1px 1px rgba(0,0,0,0.3);
	}

	#css_editor {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		display: block;
		font-family: monospace;
		white-space: pre;
		background-color: #fff;
		color: #111;
		outline: none;
		border: 1px solid #333;
		overflow: auto;
	}

	body {
		animation: fadeInBodyAnimation linear 0.5s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}

	@keyframes fadeInBodyAnimation {
		0% {
			opacity: 0;
			background-color: #000;
		}
		100% {
			opacity: 1;
		}
	}

/* /desktop */
